<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :issue_no, :value => @issue_no %>


  <!--<div class="field">-->
  <!--  <%= form.label :issue_no %>-->
    <!--<%= form.number_field :issue_no, id: :comment_issue_no %>-->
  <!--  <%= form.collection_select(:issue_no, @users, :id, :name) %>-->
  <!--</div>-->


  <div class="field">
    <strong>コメント:</strong>
    <%= form.text_area :comment, id: :comment_comment %>
  </div>

  <div class="field">
    <!--<%= form.label :post_user %>-->
    <strong>投稿者:</strong>
    <!--<%= form.number_field :post_user, id: :comment_post_user %>-->
    <%= form.collection_select(:post_user, @users, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
