<p id="notice"><%= notice %></p>

<p>
  <strong>Issue no:</strong>
  <%= @comment.issue_no %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Post user:</strong>
  <%= @comment.post_user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
