<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!--<%= form.label :issue_name %>-->
    <strong>タイトル:</strong>
    <%= form.text_field :issue_name, id: :issue_issue_name %>
  </div>

  <div class="field">
    <!--<%= form.label :content %>-->
    <strong>内容:</strong>
    <%= form.text_area :content, id: :issue_content %>
  </div>

  <div class="field">
    <!--<%= form.label :owner %>-->
    <strong>担当者:</strong>
    <!--<%= form.number_field :owner, id: :issue_owner %>-->
    <%= form.collection_select(:owner, @users, :id, :name) %>
  </div>

  <div class="field">
    <strong>期限日From:</strong>
    <!--<%= form.label :start %>-->
    <%= form.date_select :start, id: :issue_start %>
  </div>

  <div class="field">
    <!--<%= form.label :end %>-->
    <strong>期限日To:</strong>
    <%= form.date_select :end, id: :issue_end %>
  </div>

  <div class="field">
    <!--<%= form.label :prog_rate %>-->
    <strong>進捗率:</strong>
    <%= select :issue, :prog_rate, [["10%", 10], ["20%", 20], ["30%", 30], ["40%", 40], ["50%", 50], ["60%", 60], ["70%", 70], ["80%", 80], ["90%", 90], ["100%", 100]],  :prompt => "選択してください" %>
  </div>

  <div class="field">
    <!--<%= form.label :status %>-->
    <strong>ステータス:</strong>
    <%= select :issue, :status, [["未着手", 1], ["処理中", 2], ["処理済", 3], ["完了", 4]],  :prompt => "選択してください" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
