<p id="notice"><%= notice %></p>

<h1>課題一覧</h1>

<%= form_tag('/issues', method: 'get') do %>
<%= hidden_field :issue, :user_key, value: "#{current_user}" %>
<%= submit_tag('自分の課題を表示') %>
<% end %>
<%= form_tag('/issues', method: 'get') do %>
<%= hidden_field :issue, :time_limit_key, value: "1" %>
<%= submit_tag('期限切れ課題を表示') %>
<% end %>
<br>

<%= link_to '新規課題', new_issue_path, class: 'btn btn-primary pull-right' %>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>担当者</th>
      <th>期限日From</th>
      <th>期限日To</th>
      <th>進捗率</th>
      <th>ステータス</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.issue_name %></td>
        <td><%= issue.content %></td>
        <td><%= issue.owner %></td>
        <td><%= issue.start %></td>
        <td><%= issue.end %></td>
        <td><%= issue.prog_rate %>%</td>
        <td><%= issue.status %></td>
        <td><%= link_to '詳細表示', issue, class: 'btn btn-info' %></td>
        <td><%= link_to '課題編集', edit_issue_path(issue), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
