<p id="notice"><%= notice %></p>

<%= link_to '課題編集', edit_issue_path(@issue), class: 'btn btn-success pull-right' %> 
<br/>
<p>
  <strong>タイトル:</strong>
  <%= @issue.issue_name %>
</p>

<p>
  <strong>内容:</strong>
  <%= @issue.content %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>期限日From:</strong>
  <%= @issue.start %>
</p>

<p>
  <strong>期限日To:</strong>
  <%= @issue.end %>
</p>

<p>
  <strong>進捗率:</strong>
  <%= @issue.prog_rate %>%
</p>

<p>
  <strong>ステータス:</strong>
  <%= @issue.status %>
</p>

<%= link_to 'コメント登録', {controller: "comments", action: "new", issue_no: @issue.id},{:class => "btn btn-info pull-right"} %>
<br/>
<br/>

<%= render 'shared/comment_item', comments: @comments %>

<%= link_to 'Back', issues_path, class: 'btn btn-warning' %>


