<p id="notice"><%= notice %></p>

<p>
  <strong>名前：</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス：</strong>
  <%= @user.email %>
</p>

<p>
  <strong>パスワード：</strong>
  <%= @user.password %>
</p>

<p>
  <%= image_tag @user.avater.url if @user.avater? %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
