<% if @comments.any? %>
  <ol class="comments list-group">
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <span class="timestamp"><%= comment.created_at.strftime('%y/%m/%d %H:%M:%S') %></span>
        <span class="content"><%= comment.comment %></span>
      </li>
    <% end %>
  </ol>
<% end %>