<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SPC-H1", root_path, id: "logo" %>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <%= link_to "課題一覧", issues_path ,{class: "logoMini"} %>
            <%= link_to "課題登録", new_issue_path,{class: "logoMini"} %>
            <%= link_to "ログアウト", logout_path, {method: "delete",class: "logoMini"} %>
        <% else %>
          <%= link_to "ログイン", login_path ,{class: "logoMini"} %>
        <% end %>
      </div>
    </nav>
  </div>
</header>